<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Todo</title>
</head>
<body>
<h1>Edit todo</h1>

<form th:action="'/update-todo/'+${todo.id}" method="post">

    <label for="id">id</label>
    <input type="text" id="id" name="id" th:value="${todo.id}"/>
    <br/>

    <label for="title">Title</label>
    <input type="text" id="title" name="todo" th:value="${todo.title}"/>
    <br/>

    <label for="urgent">Urgent</label>
    <input type="checkbox" id="urgent" name="urgent" th:value="${todo.isUrgent()}"/>
    <br/>

    <label for="done">Done</label>
    <input type="checkbox" id="done" name="done" th:value="${todo.isDone()}"/>
    <br/>


    <!--    <label>Urgent</label>
        <select name="urgent">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br/>

        <label>Done</label>
        <select name="done">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br/>-->

    <button type="submit">Update</button>
</form>
</body>
</html>